# Server Configuration
PORT=3000

# Roblox Open Cloud Configuration
UNIVERSE_ID=10552714340
PLACE_ID=86691557621244
ROBLOX_API_KEY=q4Sj8/r2BU6ahSrK1FdQIU+KGB1ops8gDEd28OyHQ42s0Ok5ZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNkluTnBaeTB5TURJeExUQTNMVEV6VkRFNE9qVXhPalE1V2lJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaGRXUWlPaUpTYjJKc2IzaEpiblJsY201aGJDSXNJbWx6Y3lJNklrTnNiM1ZrUVhWMGFHVnVkR2xqWVhScGIyNVRaWEoyYVdObElpd2lZbUZ6WlVGd2FVdGxlU0k2SW5FMFUybzRMM0l5UWxVMllXaFRja3N4Um1SUlNWVXJTMGRDTVc5d2N6aG5SRVZrTWpoUGVVaFJOREp6TUU5ck5TSXNJbTkzYm1WeVNXUWlPaUl6TXpFM09UYzFPRElpTENKbGVIQWlPakUzT0RjeU5UYzVPRGdzSW1saGRDSTZNVGM0NnpJMU5ETTRPQ3dpYm1KbUlqb3hOemczTWpVME16ZzRmUS5odS1tOEJSTjRENl9ZMEpnaXYzZkNWbFl5dE5XeHRrbWgxaU5oS3NWME1LZXhkbHFqUGtuZ1hkSEtNLUdBYW9lVVlKNW9EellLWXFEQi0ydV9QelVtNV92S0Yta0M3dXB4ZGRHYUQwRDVxVmdrN0hOQWRxaGRuTlJUa0RYekNoMno0ZjZvSGVBcjFTNGlXOVpkY0t6Rm5UN2M1Y2VZNnZxeUF0Y3RkX1N3enBCQ2FqZHRvU1lEekp5RFJZV2dwMVc5OGJ1WHd0Vnc1TmdNYWxsX1ZNZHRIbkhncW5PNXVwRENwMU93R3hqUG1Cb1JPeHlKMkY4QUEzbVpqQmw2aDlXMW9JVGpUU2t1eTU5ODRBdHFwenFZY1I3WTkzdG1zQk5QMm9jcVJpdDJtOVVPeVRwQkx4WW13eHAzRXllTHBmakNqMVdPVldOUHdBY1N3RE1rYks1SXc=

# Admin Panel & Sync Secrets
ADMIN_SECRET_KEY=ruangbintang2026
SYNC_SECRET_KEY=rb_party_secret_sync_2026

# DataStore Names
DATASTORE_DONATION_BOARD="Donation Board // V3 - Data"
DATASTORE_DONATION_KEY="Donations"
DATASTORE_SAWERIA_BOARD="SaweriaCoinBoard_Data"
DATASTORE_SAWERIA_KEY="CoinDonations"
DATASTORE_INVITATIONS="GlobalInvitations_v1"
DATASTORE_INVITATIONS_KEY="ActiveInvitations"
DATASTORE_LIKES="PlayerLikes_v1"
DATASTORE_ORDERED_LIKES="GlobalPlayerLikes_v1"
DATASTORE_LEVEL="StarPlayerProgression_v1"
DATASTORE_ADMIN_REGISTRY="GlobalAdminList_v2"
DATASTORE_ROLES="PlayerGiveGamePasses_v1"

# Community & Donation Links
SAWERIA_URL=https://saweria.co/ruangbintang
DISCORD_URL=https://discord.gg/EXjWT6Qhn
TIKTOK_URL=https://www.tiktok.com/@ruangbintang
